

body{
    background-color: rgb(197, 197, 197)
}
.image{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.lienalan2{
    color: rgb(0, 0, 0);
    font-family: 'Edu TAS Beginner', cursive;
    font-size: larger;
    position: absolute;
    top: 22%;
    left: 80%;
    transform: translate(-50%,-50%);
}
.lienalan3{
    color: rgb(0, 0, 0);
    font-family: 'Edu TAS Beginner', cursive;
    font-size: larger;
    position: absolute;
    top: 22%;
    left: 65%;
    transform: translate(-50%,-50%);
}

.titre{
    font-weight: 400;
    font-family: 'Edu TAS Beginner', cursive;
    text-align: center;
    font-size: 4em;
    /* position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%); */
    color: rgb(197, 197, 197);
    background-color: black;

}
.para3{
    color:rgb(69, 69, 69);
    font-size: x-large;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    position: absolute;
    top: 235%;
    left: 30%;
    transform: translate(-50%,-50%);
}
.element {
    border-top: 6px black solid;
    border-right: 6px black solid;
    border-bottom: 6px black solid;
    border-left: 6px black solid;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    position: absolute;
    top: 70%;
    left: 80%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    box-shadow: 6px 6px 0px rgb(51, 51, 51);
    color: black;
    font-size: large;
    font-family: 'Edu TAS Beginner', cursive;
    text-align: center;
}
.element2{
    border-top: 9px black solid;
    border-bottom: 9px black solid;
    border-left: 9px black solid;
    border-right: 9px black solid;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    height: 280px;
    width: 220px;

}
.tab{
    border-top: 9px black solid;
    border-bottom: 9px black solid;
    border-left: 9px black solid;
    border-right: 9px black solid;
    position: absolute;
    top: 238%;
    left: 70%;
    transform: translate(-50%,-50%);
    height: 330px;
    width: 320px;

}

.para1{
    color:rgb(69, 69, 69);
    font-size: x-large;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%,-50%);
}
.para2{
    color:rgb(0, 0, 0);
    font-size: medium;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    position: absolute;
    top:280%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.texteprinc{
    font-family: 'Edu TAS Beginner', cursive; 
    font-size: larger;
    color: black;
    position: absolute;
    top: 100%;
    left: 0%;
}
.lienalan{
    color: grey;
    font-family: 'Edu TAS Beginner', cursive; 
    font-size: large;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%,-50%);
}

.car3{
    border-top: 6px black solid;
    border-right: 6px black solid;
    border-bottom: 6px black solid;
    border-left: 6px black solid;
    border-radius: 20px;
    height: 125px;
    width: 700px;
    position: absolute;
    top: 148%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: large;
    font-family: 'Edu TAS Beginner', cursive; 
    text-align: center;
}
.car5{
    border-top: 6px black solid;
    border-right: 6px black solid;
    border-bottom: 6px black solid;
    border-left: 6px black solid;
    border-radius: 20px;
    height: 120px;
    width: 700px;
    position: absolute;
    top: 188%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: large;
    font-family: 'Edu TAS Beginner', cursive; 
    text-align: center;

}
.car1{
    border-top: 6px black solid;
    border-right: 6px black solid;
    border-bottom: 6px black solid;
    border-left: 6px black solid;
    border-radius: 20px;
    height: 125px;
    width: 700px;
    position: absolute;
    top: 108%;
    left: 30%;
    transform: translate(-50%,-50%);
    font-size: large;
    font-family: 'Edu TAS Beginner', cursive; 
    text-align: center;
}


.car2{
    border-top: 6px black solid;
    border-right: 6px black solid;
    border-bottom: 6px black solid;
    border-left: 6px black solid;
    border-radius: 20px;
    height: 125px;
    width: 700px;
    position: absolute;
    top: 128%;
    left: 70%;
    transform: translate(-50%,-50%);
    font-size: large;
    font-family: 'Edu TAS Beginner', cursive; 
    text-align: center;
}

.car4{
    border-top: 6px black solid;
    border-right: 6px black solid;
    border-bottom: 6px black solid;
    border-left: 6px black solid;
    border-radius: 20px;
    height: 125px;
    width: 700px;
    position: absolute;
    top: 168%;
    left: 70%;
    transform: translate(-50%,-50%);
    font-size: large;
    font-family: 'Edu TAS Beginner', cursive; 
    text-align: center;
}
.image1{
    position: absolute;
    top: 240%;
    left: 70%;
    transform: translate(-50%,-50%);
}






